body {
  background-color: beige;
}
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color:  bisque;
}

/* HEADER STYLING */
.header {
  background-color: whitesmoke;
  opacity: 90%;
  top: 0;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 100;
  display: grid;
  grid-template-columns: 20vw 40vw 40vw;
}

.aasl-logo {
  background-color: whitesmoke;
  object-fit: contain;
  float: left;
  height: 15vh;
  width: 20vw;
  margin-left: 2vw; 
}

.aasl-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header-title {
  float: left;
  margin-left: 1vw;
  color: black;
  position:relative;
  font-size: min(3vw,20px);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 80%;
}

.header-text {
  padding-left: 3vh;
  justify-content: flex-start;
}

/* Navigation  Styling */

.hamburger-icon-div{
  display: none;
}

.header-nav-items{
  display: none;
  font-size: 3vh;
}

/* Body STYLING */

.content-box{
  background-color: green;
  position: absolute;
  top: 15%;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 90vw;
  justify-content: center;
}

.page-title{
  font-size: min(4vw,35px)
}

/* Home Page */

.home-page-container{
  display: grid;
  height: auto;
  min-height: 100vh;
  grid-template-columns: 35vw 55vw;
}

.home-page-flier-div{
  float: right;
  height: auto;
}

.home-page-flier{
  float: right;
  opacity: 90%;
  height: 150vh;
  max-width: 50vw;
}


/* Stats Page */

.stats-page-container{
  justify-items: center;
  height: auto;
  min-height: 100vh;
  margin-bottom: 2vh;
}

.stats-container{
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 45vw 45vw;
}

.dropdown{
 float: top;
 outline: 1cm;
 padding-left: 1vw;
 padding-right: 1vw;
 opacity: 50%;
 color: black; 
 background-color: white;
 height: fit-content;
 min-width: fit-content;
 max-width: 33vw;
 font-size: auto;
}

.p-dropdown-item{
  color: black;
  background-color: white;
  opacity: 50%;
}

.p-dropdown-label{
  font-size: min(5vh,15px);
  background-color: whitesmoke;
  opacity:100%;
}

.standings-table{
  outline: 0.5vh;
  outline-style: groove;
  outline-color: whitesmoke;
  justify-items: center;
  width: 80%;
  height: auto;
  padding: 1vh;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  margin-left:10%;
  background-color: teal;
  opacity: 95%;
  justify-self: center;
}

.schedule-table{
  outline: 0.2vh;
  outline-style: groove;
  outline-color: whitesmoke;
  justify-items: center;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  margin-left:10%;
  background-color: teal;
  opacity: 95%;
  justify-self: center;
  min-height: 40vh;
}

.standing-row{
  display: grid;
  justify-items: left;
  margin-left: 1vw;
  width: 100%;
  grid-gap: 2vw;
  font-size: medium;
}
.basketball-standing-row{
  grid-template-columns: 5vw 2vw 5vw 2vw 2vw 2vw;
}

.soccer-standing-row{
  grid-template-columns: 5vw 2vw 2vw 5vw 2vw 2vw 2vw;
}

.schedule-row{
  display: grid;
  justify-items: left;
  margin-left: 1vw;
  width: 100%;
  grid-template-columns: 8vw 12vw 6vw 12vw;
  height:auto;
}


.header-row{
  font-weight: bolder;
}

.matchweek{
  color: white;
  justify-content: left;
  font-size: medium;
  float: left;
  font-weight: bold;;
  margin-left: 2vw;
  margin-bottom: 1vh;
  margin-top: 0.5vh;
  text-decoration: solid;
  text-decoration-line:underline;
}

.matchweek-box{
  height: auto;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;

}

.matchweek-box:nth-child(even){
  background: darkcyan;
}

.standing-row:nth-child(even){
  background: darkcyan;
}

.match-fixture{
  display: grid;
  grid-template-columns: 10vw 20vw 10vw 20vw;
}

.matchweek-title{
  height: auto;
}




.matchweek-byes{
  width: 100%;
  justify-items: left;
  font-size: 0.75w;
  height: auto;
  display: grid;
  margin-top: 1vh;
  grid-template-columns: 5vw auto auto auto auto;
}

.bye{
  color: lightblue;
  margin-left: 2vw;
}
/* Mission Page */

.mission-page-container{
  justify-content: center;
  display: grid;
  height: auto;
  grid-template-columns: 75vw;
  justify-self: center;
  justify-items: center;
}

.youth-photo{
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 25vh;
  opacity: 75%;
  display:inline-block;
  width: 100vw;
}

/* Contact Page */

.contact-page-container{
  width: 90%;
  height: auto;
  min-height: 100vh;
  justify-self: center;
}

.contact-method-list{
  display: grid;
  grid-template-columns: 18vw 18vw 18vw 18vw;
  justify-content: center;
}

.contact-method img{
  height: 8vw;
  width: 8vw;

}


/* Mobile View Only */
@media (max-width: 767px){

    /* HEADER STYLING */
  .header {
    height: 10vh;
    grid-template-columns: 20vw 50vw 30vw;
  }


  .aasl-logo {
    background-color: whitesmoke;
    float: left;
    height: 10vh;
    width: 13vw;
    margin-left: 2vw; 
  }
 
  .content-box{
    grid-template-columns: 100vw;
    top: 10vh;
  }
  
  .hamburger-icon-div {
    display: block;
    background: none;
  }
  
  .hamburger-icon-div button {
    background: none;
  } 
  
  .hamburger-icon{
    object-fit: cover;
  }

  .hamburger-menu {    
    position:fixed;
    margin-left: 67vw;
    top: 10vh;
    background-color: beige;
    border-bottom: 10px;
    border-color: gray;
    height: 100vh;
    width:33vw;
  }

  .hamburger-menu-items{
    height: auto;
  }

  .menu-item {
    list-style-type: none;
  }

  .menu-item a{
    color: green;
    font-size: larger;
  }

  .menu-item a:hover{
    color: red;
  }

  .home-page-container{
    margin-left: 10vw;
    height: auto;
    min-height: 100vh;
  }

  .home-page-flier-div{
    display: none;
    height: auto;
    margin-left: 10vw
  }

  .home-page-text{
    float: right;
  }

  .home-page-flier{
    float: right;
    opacity: 90%;
    min-width: 100%;
  }

  .contact-method img{
    height: 10vw;
    width: 10vw;
  }

  .youth-photo{
    opacity: 75%;
    justify-self: center;
    width: 100vw;
  }

  .stats-container{
    grid-template-columns: 90vw;
  }

  .standing-row{
    display: grid;
    justify-items: left;
    grid-gap: 2vw;
    font-size: 50%;
  }

  .basketball-standing-row{
    grid-template-columns: 20vw 8vw 10vw 8vw 8vw 8vw;
  }
  
  .soccer-standing-row{
    grid-template-columns: 20vw 8vw 8vw 10vw 5vw 5vw 5vw;
  }
  
  .schedule-row{
    display: grid;
    justify-items: left;
    grid-template-columns: 15vw 20vw 10vw 20vw;
    grid-gap: 2vw;
    height:3vh;
    font-size: 50%;
  }

  .matchweek-byes{
    display: grid;
    margin-top: 1vh;
    grid-template-columns: 15vw 15vw 15vw 15vw;
  }
  
  .bye{
    font-size: 50%;
    float: center;
  }

}

/* Desktop View Only */
@media (min-width: 767px){
  .header-nav-items{
    display: grid;
    grid-template-columns: 22% 22% 28% 28%;
    margin-right: 4vw;
    margin-top: 1vw;
    float: right;
    width: 30vw;
  }
  
  .nav-item{
    list-style-type: none;
    width: 100%;
    font-size: min(2vw,30px);
    float: right;
  }

  .nav-item a{
    color: green;
  }

  .nav-item a:hover{
    color:red;
  }
}
